.Button {
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: none;
}

.Button--light {
    background-color: #fff;
    color: #000;
}
