.Stopwatch {
    margin: 0 auto;
    padding: 40px 20px;
    width: 350px;
    height: 100%;
    /* background-color: #21d4fd; */
    /* background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
    /* border-radius: 5%; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
}

.Stopwatch__actions {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
