.Stopwatch {
    margin: 0 auto;
    padding: 40px 20px;
    width: 350px;
    height: 100%;
}

.Stopwatch__actions {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
