.Stopwatch {
    margin: 20px auto;
    /* padding: 40px 25px; */
    /* width: 350px; */
    /* height: 100%; */
}

.Stopwatch__actions,
.Stopwatch__snippet-form {
    display: flex;
    flex-direction: row;
}

.Stopwatch__actions {
    margin-top: 50px;
    justify-content: center;
}

.Stopwatch__snippet-form {
    margin-top: 10px;
    justify-content: space-between;
}
