body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow: hidden;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

#root {
    height: 100vh;
    margin-top: 40px;
}

.App {
    height: inherit;
    margin: 0 auto;
    padding: 0px 25px;
    width: 350px;
    /* height: 100%; */
}

.App__drag-icon {
    -webkit-app-region: drag;
    position: fixed;
    top: 10px;
    left: 10px;
    opacity: 1;
    z-index: 10;
}

.App__close-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 1;
    z-index: 10;
    cursor: pointer;
}

.App__tabs {
    color: #fff;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.App__tabs li {
    padding: 10px 15px;
}

.App__tabs li:hover {
    cursor: pointer;
}

.Snippets {
    list-style: none;
    padding: 0;
}

.hidden {
    display: none;
}
